* {
  font-family: 'Roboto Condensed', sans-serif;
}
html {
  overflow-x: hidden !important;
}
body {
  padding-right: 0px;
  background-color: #F2F2F2;
}
#weeks-style {
  color: #4385F5;
}
#weeks-style1 {
  color: #C2C2C2;
}
.Calender {
  /*float:right;*/
  display: inline-block;
  background-color: #F2F2F2;
}
.tableCls {
  margin-top: 9px;
}

/*Start of the Month Title*/

.monthDispDivCls {
  margin-right: 0px;
  margin-left: 5px;
  display: block;
  clear: both;
  height: 47px;
  background-color: #fff;
  position: relative;
}
.tableDiv {
  margin-left: 5px;
  margin-right: 0px;
}
.monthTitleCls {
  display: inline;
  line-height: 45px;
  font-size: 24px;
  color: #fff;
  margin-top: 0;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 30px;
}
.firstDivCls {
  width: 42%;
  position: absolute;
  display: inline-block;
  position: absolute;
  height: 47px;
  background-color: #B4141C;
}
.secondDivCls {
  position: absolute;
  left: 170px;
  display: inline-block;
  width: 0;
  height: 0;
  border-bottom: 47px solid #B4141C;
  border-right: 48px solid transparent;
}
.thirdDivCls {
  left: 187px;
  position: absolute;
  width: 168px;
  height: 38px;
  background: #EC1223;
  /* Skew */
  -webkit-transform: skew(45deg);
  -moz-transform: skew(45deg);
  -o-transform: skew(45deg);
  transform: skew(45deg);
}
.fourthDivCls {
  left: 201px;
  position: absolute;
  width: 171px;
  height: 9px;
  top: 38px;
  background: #B4141C;
  /* Skew */
  -webkit-transform: skew(47deg);
  -moz-transform: skew(47deg);
  -o-transform: skew(47deg);
  transform: skew(47deg);
}
.fifthDivCls {
  left: 351px;
  position: absolute;
  background: #F4707B;
  width: 37px;
  height: 47px;
  /* Skew */
  -webkit-transform: skew(47deg);
  -moz-transform: skew(47deg);
  -o-transform: skew(47deg);
  transform: skew(47deg);
}
.sixthDivCls {
  left: 386px;
  position: absolute;
  background: #FAC6CA;
  width: 28px;
  height: 47px;
  /* Skew */
  -webkit-transform: skew(47deg);
  -moz-transform: skew(47deg);
  -o-transform: skew(47deg);
  transform: skew(47deg);
}
.seventhDivCls {
  left: 410px;
  position: absolute;
  background: #FDF3F3;
  width: 18px;
  height: 47px;
  /* Skew */
  -webkit-transform: skew(47deg);
  -moz-transform: skew(47deg);
  -o-transform: skew(47deg);
  transform: skew(47deg);
}
.addEventIconCls {
  display: none;
  cursor: pointer;
  position: relative;
  float: right;
  /*font-size: 25px;*/
  margin: 9px;
}
.glyphicon-pencil:before {
  content: "\270f";
  color: #B0B0B0;
}
.glyphicon-trash:before {
  content: "\e020";
  color: #B0B0B0;
}
@media screen and (min-width: 1900px) and (max-width: 1990px) {
  .secondDivCls {
    left: 180px;
    border-bottom: 47px solid #B4141C;
  }
  .thirdDivCls {
    left: 192px;
  }
  .fourthDivCls {
    left: 213px;
  }
  .fifthDivCls {
    left: 364px;
  }
  .sixthDivCls {
    left: 398px;
  }
  .seventhDivCls {
    left: 425px;
  }
}

/* table display style start */

@media screen and (min-width: 300px) and (max-width: 600px) {
  #hideAndShowDiv table, #hideAndShowDiv thead, #hideAndShowDiv tbody, #hideAndShowDiv th, #hideAndShowDiv td, #hideAndShowDiv tr {
    display: block;
  }
  #hideAndShowDiv thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  #hideAndShowDiv tr {
    border: 1px solid #ccc;
  }
  #hideAndShowDiv td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }
  #hideAndShowDiv td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }
  #hideAndShowDiv td:before {
    content: attr(data-title);
  }
}
@media screen and (min-width: 400px) and (max-width: 1000px) {
  a {
    text-decoration: none;
    float: left;
    margin-left: 20px;
    margin: -4.1px;
  }
}

/* table display style end */


/*css*/

.weeks {
  width: 13.9%;
  margin: 0px 0px 5px 2px;
  height: 49px;
  font-size: 18px;
  background-color: #FFFFFF;
  border: 2px solid #ECECEC;
  outline: none;
  line-height: 45px;
  text-align: center;
}
.weekdays {
  color: #fff;
  background-color: #4385F5 !important;
}
.triSymbol {
  bottom: 5px;
  right: 5px;
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 10px solid white;
  border-left: 10px solid transparent;
}
.weekDaysHeadingRow {
  padding-left: 0px;
  /*margin-left: 0px;*/
  margin-right: 0px;
  padding-right: 0px;
}
.daysCls {
  width: 13.6%;
  height: 74px;
  font-size: 18px;
  background-color: #FFFFFF;
  margin: 0px 0px 2px 2px;
  border: 2px solid #ECECEC;
  outline: none;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.dateIndex {
  line-height: 74px;
}
.date_month span {
  display: block;
  text-align: -webkit-center;
  vertical-align: middle;
}

/*.Calender button {
  width: 93px;
  height: 74px;
  font-size: 18px;
  background-color: #FFFFFF;
  margin: 0px 0px 2px -2px;
  border: 2px solid #ECECEC;
  outline: none;
}*/

.tableDivCls {
  margin-top: 7%;
  width: 49%;
  margin-left: 23px;
  display: inline-block;
}
.calendarDivCls {
  width: 49%
}
@media screen and (min-width: 300px) and (max-width: 400px) {
  .tableDivCls {
    width: 100%;
    padding-left: 20px;
    margin: 0;
  }
  .calendarDivCls {
    width: 100%;
    padding-left: 20px;
  }
  .weeks {
    width: 46.67px;
  }
  .Calender button {
    width: 48.67px;
  }
}
@media screen and (min-width: 320px) and (max-width: 330px) {
  .tableDivCls {
    width: 99%;
    padding-left: 20px;
    margin: 0;
  }
  .calendarDivCls {
    padding-left: 0px;
    width: 100%;
    margin-left: 20px;
  }
  .weeks {
    width: 40.5px;
    font-size: 15px;
    padding-left: 5px;
  }
  .Calender button {
    width: 42.5px;
  }
  .secondDivCls {
    left: 180px;
    border-bottom: 47px solid #B4141C;
  }
  .confAppLoginBtnCls {
    float: none !important;
  }
}
@media screen and (min-width: 360px) and (max-width: 370px) {
  .tableDivCls {
    width: 98% !important;
    padding-left: 20px;
    margin: 0;
  }
  .weeks {
    width: 46.5px !important;
    font-size: 16px;
    padding-left: 6px;
  }
  .Calender button {
    width: 48.5px !important;
  }
  .secondDivCls {
    border-bottom: 47px solid #B4141C;
  }
}
@media screen and (min-width: 374px) and (max-width: 385px) {
  html {
    overflow-x: hidden;
  }
  .tableDivCls {
    width: 99%;
    padding-left: 20px;
    margin: 0;
  }
  .weeks {
    width: 49px;
    font-size: 15px;
    padding-left: 7px;
  }
  .Calender button {
    width: 51px;
  }
  .secondDivCls {
    border-bottom: 47px solid #B4141C;
  }
}
@media screen and (min-width: 401px) and (max-width: 500px) {
  .tableDivCls {
    width: 100%;
    padding-left: 20px;
    margin: 0;
  }
  .calendarDivCls {
    width: 100%;
    padding-left: 20px;
  }
  .weeks {
    width: 54px;
  }
  .Calender button {
    width: 56px;
  }
  .secondDivCls {
    border-bottom: 47px solid #B4141C;
  }
}
@media screen and (min-width: 411px) and (max-width: 425px) {
  .weeks {
    width: 54.5px;
  }
  .Calender button {
    width: 56.5px;
  }
  .secondDivCls {
    border-bottom: 47px solid #B4141C;
  }
  .confAppLoginBtnCls, .confAppLoginBtnCls:hover, .confAppLoginBtnCls:focus {
    margin-top: -47px !important;
  }
  .confAppRegisterFirstNameCls, .contactNumCls {
    width: 100% !important;
  }
  .confAppRegisterLastNameCls, .dobCls {
    width: 100% !important;
  }
  .dropdownCls {
    width: 100% !important;
  }
}
@media screen and (min-width: 435px) and (max-width: 445px) {
  .tableDivCls {
    width: 100%;
    padding-left: 20px;
    margin: 0;
  }
  .calendarDivCls {
    width: 100%;
    padding-left: 20px;
  }
  .weeks {
    width: 57.5px;
  }
  .Calender button {
    width: 59.5px;
  }
}
@media screen and (min-width: 600px) and (max-width: 649px) {
  .tableDivCls {
    width: 99%;
    padding-left: 20px;
    margin: 0;
  }
  .calendarDivCls {
    width: 100%;
    padding-left: 20px;
  }
  .weeks {
    width: 80.9px !important;
  }
  .Calender button {
    width: 82.9px;
  }
}
@media screen and (min-width: 650px) and (max-width: 700px) {
  .tableDivCls {
    width: 99% !important;
    padding-left: 20px;
    margin: 0;
  }
  .calendarDivCls {
    width: 100% !important;
    padding-left: 20px;
  }
  .weeks {
    width: 86.5px !important;
  }
  .Calender button {
    width: 88.5px !important;
  }
}
@media screen and (min-width: 667px) and (max-width: 670px) {
  body {
    overflow-x: hidden;
  }
  .tableDivCls {
    width: 99%;
    padding-left: 20px;
    margin: 0;
  }
  .calendarDivCls {
    width: 100%;
    padding-left: 20px;
  }
  .weeks {
    width: 90px !important;
  }
  .Calender button {
    width: 92px;
  }
}
@media screen and (min-width: 768px) and (max-width: 778px) {
  .tableDivCls {
    width: 98.5%;
    padding-left: 20px;
    margin: 0;
  }
  .calendarDivCls {
    width: 100%;
    padding-left: 20px;
  }
  .weeks {
    width: 104.2px;
  }
  .Calender button {
    width: 106.2px;
  }
  .secondDivCls {
    left: 180px;
    border-bottom: 47px solid #B4141C;
  }
}
@media screen and (min-width: 800px) and (max-width: 950px) {
  .tableDivCls {
    width: 98%;
    padding-left: 20px;
    margin: 0;
  }
  .calendarDivCls {
    width: 100%;
    padding-left: 20px;
  }
  .weeks {
    width: 109.2px !important;
  }
  .Calender button {
    width: 111.2px;
  }
  .secondDivCls {
    left: 180px;
    border-bottom: 47px solid #B4141C;
  }
}
@media screen and (min-width: 951px) and (max-width: 1000px) {
  .tableDivCls {
    width: 98%;
    padding-left: 20px;
    margin: 0;
  }
  .calendarDivCls {
    width: 100%;
    padding-left: 20px;
  }
  .weeks {
    width: 129.5px !important;
  }
  .Calender button {
    width: 131.5px;
  }
  .secondDivCls {
    left: 180px;
    border-bottom: 47px solid #B4141C;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1350px) {
  .Calender button {
    width: 85px;
  }
  .secondDivCls {
    left: 180px;
    border-bottom: 47px solid #B4141C;
  }
}
@media screen and (min-width: 1401px) and (max-width: 1500px) {
  .weeks {
    width: 94px;
  }
  .Calender button {
    width: 96px;
  }
}
@media screen and (min-width: 1899px) and (max-width: 1950px) {
  .weeks {
    width: 127px;
  }
  .Calender button {
    width: 129px;
    height: 85px;
  }
}

/*Login page Css*/

.confAppLoginModalCls {
  margin-top: 5%;
}
.confAppLoginCls {
  padding: 10%;
}
.confAppLoginTitleCls {
  padding-left: 10%;
  text-align: center;
  font-size: 36px;
  opacity: 0.5;
  width: 90%;
}
label {
  font-weight: 300 !important;
}
.confAppLoginBodyCls {
  /*clear: both;*/
  display: block;
  content: none;
  padding: 5% 15%;
  background-color: #F5F9FC;
}
.confAppLoginBodyCls::after {
  clear: both;
  content: "";
  display: block;
}
.btnSpan {
  padding-right: 0px;
  margin-right: 0px;
  display: block;
  text-align: right;
}
.confAppLoginBtnCls[disabled], .confAppLoginBtnCls[disabled]:hover, .confAppLoginBtnCls[disabled]:focus {
  display: inline-block;
  /*float: right;*/
  clear: both;
  background-color: #4385F5;
  color: #fff;
  padding: 7px 25px;
  font-size: 18px;
  margin-top: 10px;
}
.confAppLoginBtnCls[disabled]:after, .confAppLoginBtnCls {
  display: inline-block;
  /*float: right;*/
  clear: both;
  background-color: #4385F5;
  color: #fff;
  padding: 7px 25px;
  font-size: 18px;
  margin-top: 10px;
}
.confAppLoginFooterCls {
  padding: 5% 15%;
  /*text-align: center;*/
}
.loginPtagFooterCls {
  text-align: center;
  /*background-color: red;*/
}
.close {
  outline: none;
  font-size: 34px;
  line-height: 54px;
}
.labelCls {
  font-size: 18px;
  font-weight: 100 !important;
  opacity: 0.5;
}
.notaMemberCls {
  /*display: inline-block;*/
  font-size: 18px;
  /*font-weight: 100 !important;*/
  opacity: 0.5;
  /*float: left;*/
}
.forgetPwdCls {
  clear: both;
  display: inline-block;
  line-height: 60px;
  font-size: 18px;
  opacity: 0.5;
}
.createAccCls {
  /*display: inline-block;*/
  font-size: 18px;
  padding-left: 2%;
  /*float: right;*/
}
input {
  border-radius: 0px !important;
}
@media screen and (min-width:600px) and (max-width:1100px) {
  .loginPtagFooterCls {
    text-align: center;
  }
  .notaMemberCls {
    padding-left: 20%;
  }
}

/*End of Login css*/


/*Registration page Css*/

.confAppRegisterFooterCls {
  padding: 5% 15%;
  text-align: center;
}
.confAppRegisterBtnCls, .confAppRegisterBtnCls:hover, .confAppRegisterBtnCls:focus {
  font-size: 18px;
  float: right;
  clear: both;
  background-color: #4385F5;
  color: #fff;
  padding: 7px 25px;
}
.confAppRegisterFirstNameCls, .contactNumCls {
  width: 49.5%;
  clear: both;
  display: inline-block;
}
.confAppRegisterLastNameCls, .dobCls {
  width: 49.5%;
  clear: both;
  display: inline-block;
  padding-left: 2%;
}
.loginPageLinkCls {
  /*float: left;*/
  /*text-align: left;*/
  display: inline-block;
  line-height: 30px;
}
.confAppRegisterBtnCls {
  /*float: right;*/
  display: inline;
}
.footerSpanCls {
  width: 60%;
  display: inline-block;
  float: left;
}
.confAppRegisterBtnDivCls {
  width: 40%;
}
.dropdownCls {
  width: 49.5%;
  opacity: .5;
}
.labelCls {
  font-size: 18px;
  font-weight: 100 !important;
  opacity: 0.5;
}
.spanLoginLinkCls {
  padding-left: 2%;
  font-size: 18px;
  font-weight: 100 !important;
  opacity: 0.5;
}
.loginLinkCls {
  /*text-align: center;*/
  display: inline;
  font-size: 18px;
  opacity: 0.5;
}
.close {
  outline: none;
  font-size: 34px;
  line-height: 54px;
}
@media screen and (min-width:300px) and (max-width:400px) {
  .confAppRegisterLastNameCls, .dobCls {
    width: 100%;
    padding-left: 0;
  }
  .confAppRegisterFirstNameCls, .contactNumCls {
    width: 100%;
    padding-left: 0;
  }
  .dropdownCls {
    width: 100%;
  }
}

/*Invite People Css*/

.confAppInvitePeopleHeaderCls, .confAppInvitePeopleFooterCls {
  padding: 5% 10%;
}
.confAppInvitePeopleHeaderCls h2 {
  text-align: center;
}
.confAppInvitePeopleBodyCls {
  padding: 5% 15%;
  background-color: #F5F9FC;
  /*opacity: .5;*/
}
.dateCls {
  padding-left: 0px;
  padding-right: 0px;
  width: 49%;
  clear: both;
  display: inline-block;
  margin-right: .5%;
}
.userCls {
  padding-left: 0px;
  padding-right: 0px;
  clear: both;
  width: 49%;
  display: inline-block;
  margin-left: .5%;
}
.invitePeopleTextCls {
  text-align: center;
  opacity: .5 !important;
}
.confAppInvitePeopleSendEmailBtnCls[disabled], .confAppInvitePeopleSendEmailBtnCls[disabled]:hover, .confAppInvitePeopleSendEmailBtnCls[disabled]:focus, .confAppInvitePeopleSendEmailBtnCls[enabled] {
  background-color: #4385F5;
  color: #fff;
}
.confAppInvitePeopleSendEmailBtnCls, .confAppInvitePeopleSendEmailBtnCls:hover, .confAppInvitePeopleSendEmailBtnCls:focus {
  background-color: #4385F5;
  color: #fff;
}
.eventDetailsCls {
  clear: both;
  margin-top: 5%;
}
.labelCls {
  opacity: .5;
}
.userIconCls {
  left: 5px;
  top: 7px;
  display: inline-block;
  position: absolute;
}
.inputUserCls {
  padding-left: 15%;
}
.userDivCls {
  position: relative;
}
.addNamesOfEmail {
  margin-bottom: 8%;
}
@media screen and (min-width: 300px) and (max-width: 450px) {
  .dateCls {
    width: 100%;
  }
  .userCls {
    width: 100%;
  }
  .inputUserCls {
    padding-left: 12%;
  }
}

/*End of invitePeople css*/


/*The below is for Header*/

.userGlyphIconCls {
  padding-right: 5px;
}
.myDropDownIconCls {
  /*padding-top: 5px;*/
  padding-left: 5px;
}
#monthyear {
  margin: -78px 0px 0px -40px;
  text-align: center;
  width: 100%;
  z-index: 10000000;
  float: left;
  color: white;
  font-size: 30px;
  /*font-family: 'Roboto', sans-serif;*/
}
.dropdown-menu {
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: right;
  min-width: 160px;
  padding: 5px 0px;
  margin: -35px -67px 0 92%;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.navbar-inverse {
  background: -webkit-linear-gradient( #F2F4F8, #FDFEFE);
  background: -moz-linear-gradient(#F2F4F8, #FDFEFE);
  border-color: #eee;
  height: 80.5px!important;
  margin-top: 0px;
  width: 100%;
  background-color: !important;
  -webkit-transition: 0.2s linear all;
  -moz-transition: 0.2s linear all;
  -o-transition: 0.2s linear all;
  transition: 0.2s linear all;
  z-index: -555;
}
#line {
  width: 13px;
  height: 80px;
  margin: 0px 258px;
  background: #FDF3F3;
  /* Skew */
  /*-webkit-transform: skew(20deg);
   -moz-transform: skew(20deg);
   -o-transform: skew(20deg);*/
  transform: skew(-43deg);
}
#line1 {
  width: 20px;
  height: 81px;
  margin: -81px 272px;
  background: #FAC6CA;
  /*-webkit-transform: skew(20deg);
-moz-transform: skew(20deg);
-o-transform: skew(20deg);*/
  transform: skew(-43deg);
}
#line2 {
  width: 35px;
  height: 81px;
  margin: -81px 292px;
  background: #F4707B;
  /*-webkit-transform: skew(20deg);
-moz-transform: skew(20deg);
-o-transform: skew(20deg);*/
  transform: skew(-43deg);
}
#line3 {
  width: 80px;
  height: 81px;
  margin: -81px 327px;
  background: #EC1223;
  /*-webkit-transform: skew(20deg);
-moz-transform: skew(20deg);
-o-transform: skew(20deg);*/
  transform: skew(-43deg);
}
#line4 {
  width: 407px;
  height: 81px;
  margin: -81px 407px;
  background: #B4141C;
  /*-webkit-transform: skew(20deg);
-moz-transform: skew(20deg);
-o-transform: skew(20deg);*/
  transform: skew(-43deg);
  z-index: -1;
}
#line5 {
  width: 561px;
  height: 74px;
  background: #B4141C;
  height: 31px;
  /* margin: 0px 407px; */
  margin: 0px 818px;
  -moz-transform: skew(0deg);
}
#line6 {
  width: 600px;
  height: 74px;
  background: #EC1223;
  height: 50px;
  /* margin: 0px 407px; */
  margin: 0px 776px;
  z-index: -2;
  -moz-transform: skew(0deg);
}
.confText {
  font-size: 20px;
  margin: -7px 520px;
  font-family: 'Roboto', sans-serif;
}
#img-style {
  width: 170px;
  height: 40px;
  margin: 18px 20px;
  background-image: url("../img/1.png");
  background-repeat: repeat-y;
  background-size: 100% 100%;
  background-color: white;
}
#conLogout-style {
  position: relative;
  width: 134px;
  z-index: 100;
  float: right;
  margin-top: -70px;
  margin-right: -67px;
  background-color: white;
}
@media screen and (min-width:300px) and (max-width:400px) {
  #img-style {
    width: 50px;
    height: 50px;
    margin: 10px 20px;
    background-image: url("../img/320.png");
    background-repeat: repeat-y;
    background-size: 100% 100%;
    background-color: white;
  }
  .navbar-inverse {
    background: -webkit-linear-gradient( #F2F4F8, #FDFEFE);
    background: -moz-linear-gradient(#F2F4F8, #FDFEFE);
    border-color: #eee;
    height: 62px!important;
    margin-top: 0px;
    width: 100%;
    background-color: !important;
    -webkit-transition: 0.2s linear all;
    -moz-transition: 0.2s linear all;
    -o-transition: 0.2s linear all;
    transition: 0.2s linear all;
    z-index: -555;
  }
  #linev3 {
    width: 34px;
    height: 80px;
    margin: -79px 108px;
    background: #EC1223;
    transform: skew(-43deg);
  }
  #linev4 {
    width: 51%;
    height: 80px;
    margin: -80px 140px;
    background: #B4141C;
    transform: skew(-43deg);
  }
  #linev2 {
    width: 18px;
    height: 80px;
    margin: -80px 90px;
    background: #F4707B;
    transform: skew(-43deg);
  }
  #line1236 {
    width: 0px;
    height: 0;
    border-bottom: 80px solid #B4141C;
    border-left: 92px solid transparent;
    margin: 0px 277px;
    z-index: -2;
  }
  #conLogout-style {
    position: relative;
    width: 134px;
    float: right;
    margin-top: -66px;
    margin-right: -9px;
    background-color: white;
  }
  #june {
    margin: -60px 13px -8px 67px;
    text-align: center;
    width: 223px;
    z-index: 10000000;
    float: left;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
  }
  .dropdown-menu {
    margin: -31px 0px 0 56%;
  }
}
@media screen and (min-width:600px) and (max-width:700px) {
  #linev3 {
    width: 80px;
    height: 81px;
    margin: -81px 288px;
    background: #EC1223;
    transform: skew(-43deg);
  }
  #linev2 {
    width: 35px;
    height: 81px;
    margin: -81px 253px;
    background: #F4707B;
    transform: skew(-43deg);
  }
  #linev4 {
    width: 241px;
    height: 81px;
    margin: -81px 368px;
    background: #B4141C;
    transform: skew(-43deg);
    z-index: -1;
  }
  #conLogout-style {
    position: relative;
    width: 134px;
    z-index: 100;
    float: right;
    margin-top: -81px;
    margin-right: -3px;
    background-color: white;
  }
  .dropdown-menu {
    margin: -45px -67px 0 74.6%;
  }
  #line1236 {
    width: 0px;
    height: 0;
    border-bottom: 81px solid #B4141C;
    border-left: 136px solid transparent;
    margin: 0px 513px;
    z-index: -2;
  }
  #june {
    margin: -81px 8px 5px 42.9%;
    text-align: center;
    width: 170px;
    z-index: 10000000;
    float: left;
    color: white;
    font-size: 33px;
    font-family: 'Roboto', sans-serif;
  }
}
@media screen and (min-width:800px) and (max-width:900px) {
  #line1236 {
    display: none;
  }
  #linev3 {
    display: none;
  }
  #linev2 {
    display: none;
  }
  #linev4 {
    display: none;
  }
  #conLogout-style {
    position: relative;
    width: 134px;
    z-index: 100;
    float: right;
    margin-top: -71px;
    margin-right: -31px;
  }
  .dropdown-menu {
    margin: -36px -67px 0 81.9%;
  }
  #june {
    margin: -77px 12px 5px 45%;
    width: 170px;
    z-index: 10000000;
  }
  #img-style {
    margin: 18px 20px;
    width: 150px;
    height: 43px;
  }
  #line {
    width: 18px;
    height: 80px;
    margin: -1px 210px;
  }
  #line1 {
    width: 20px;
    height: 81px;
    margin: -81px 228px;
  }
  #line2 {
    width: 30px;
    height: 81px;
    margin: -80px 248px;
  }
  #line3 {
    width: 40px;
    height: 81px;
    margin: -81px 278px;
  }
  #line4 {
    width: 245px;
    height: 81px;
    margin: -81px 318px;
    z-index: -1;
  }
  #line5 {
    width: 211px;
    height: 74px;
    height: 31px;
    margin: 0px 572px;
  }
  #line6 {
    width: 257px;
    height: 74px;
    height: 50px;
    margin: 0px 526px;
    z-index: -2;
  }
}
@media screen and (min-width: 951px) and (max-width: 1000px) {
  #line4 {
    width: 347px;
    height: 81px;
    margin: -81px 407px;
    background: #B4141C;
    transform: skew(-43deg);
    z-index: -1;
  }
  #line5 {
    width: 218px;
    height: 74px;
    background: #B4141C;
    height: 31px;
    /* margin: 0px 407px; */
    margin: 0px 736px;
  }
  #line6 {
    width: 263px;
    height: 74px;
    background: #EC1223;
    height: 50px;
    /* margin: 0px 407px; */
    margin: 0px 691px;
    z-index: -2;
  }
  #conLogout-style {
    position: relative;
    width: 134px;
    z-index: 100;
    float: right;
    margin-top: -70px;
    margin-right: -112px;
    background-color: white;
  }
  .dropdown-menu {
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: right;
    min-width: 160px;
    padding: 5px 0px;
    margin: -35px -67px 0 93.3%;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  }
  #june {
    margin: -80px 8px 5px 52%;
    text-align: center;
    width: 170px;
    z-index: 10000000;
    float: left;
    color: white;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
  }
}
@media screen and (min-width:1290px) and (max-width:1299px) {
  #line5 {
    width: 456px;
    height: 74px;
    height: 31px;
    margin: 0px 818px;
  }
  #line6 {
    width: 498px;
    height: 74px;
    height: 50px;
    margin: 0px 776px;
    z-index: -2;
  }
}
@media screen and (min-width:320px) and (max-width:340px) {
  #june {
    margin: -58px 13px -8px 24px;
  }
  #linev4 {
    width: 44%;
    height: 80px;
    margin: -80px 142px;
  }
  #line1236 {
    width: 0px;
    height: 0;
    border-left: 92px solid transparent;
    margin: 0px 227px;
    z-index: -2;
  }
  #conLogout-style {
    position: relative;
    width: 134px;
    float: right;
    margin-top: -66px;
    margin-right: -10px;
  }
  .dropdown-menu {
    margin: -31px 0px 0 48.2%;
  }
}
@media screen and (min-width:360px) and (max-width:369px) {
  #linev4 {
    width: 50%;
    height: 80px;
    margin: -80px 142px;
  }
  #line1236 {
    border-left: 92px solid transparent;
    margin: 0px 267px;
  }
  #june {
    margin: -60px 13px -8px 59px;
  }
}
@media screen and (min-width:370px) and (max-width:390px) {
  #linev4 {
    width: 51%;
    height: 80px;
    margin: -80px 142px;
  }
  #line1236 {
    border-left: 92px solid transparent;
    margin: 0px 277px;
    z-index: -2;
  }
  #june {
    margin: -60px 13px -8px 69px;
  }
}
@media screen and (min-width:765px) and (max-width:790px) {
  .dropdown-menu {
    margin: -35px -67px 0 81%;
  }
  #line1 {
    width: 20px;
    height: 81px;
    margin: -81px 272px;
  }
  #line2 {
    width: 30px;
    height: 81px;
    margin: -81px 292px;
  }
  #line3 {
    width: 40px;
    height: 81px;
    margin: -81px 322px;
  }
  #line4 {
    width: 180px;
    height: 81px;
    margin: -81px 362px;
    z-index: -1;
  }
  #line5 {
    width: 204.4px;
    height: 74px;
    height: 31px;
    margin: 0px 548px;
  }
  #line6 {
    width: 247.4px;
    height: 74px;
    height: 50px;
    margin: 0px 505px;
    z-index: -2;
  }
  #june {
    margin: -75px 8px 5px 50%;
    text-align: center;
    width: 170px;
  }
  #conLogout-style {
    position: relative;
    width: 134px;
    z-index: 100;
    float: right;
    margin-top: -70px;
    margin-right: -21px;
  }
}
@media screen and (min-width:980px) and (max-width:990px) {
  #line5 {
    width: 228px;
    height: 74px;
    height: 31px;
    margin: 0px 736px;
  }
  #line6 {
    width: 273px;
    height: 74px;
    height: 50px;
    margin: 0px 691px;
    z-index: -2;
  }
}
@media screen and (min-width:1280px) and (max-width:1289px) {
  #conLogout-style {
    margin-top: -70px;
    margin-right: -45px;
  }
  #line5 {
    width: 446px;
    height: 31px;
    margin: 0px 818px;
  }
  #line6 {
    width: 488px;
    height: 50px;
    margin: 0px 776px;
    z-index: -2;
  }
  .dropdown-menu {
    margin: -35px -67px 0 90%;
  }
}
@media screen and (min-width:1919px) {
  #img-style {
    width: 295px;
    height: 70px;
    margin: 5px 20px;
    background-image: url("../img/1920a.png");
    background-repeat: repeat-y;
    background-size: 100% 100%;
  }
  #line {
    width: 30px;
    height: 80px;
    margin: 0px 406px;
  }
  #line1 {
    width: 50px;
    height: 81px;
    margin: -80px 435px;
  }
  #line2 {
    width: 60px;
    height: 81px;
    margin: -81px 485px;
  }
  #line3 {
    width: 120px;
    height: 81px;
    margin: -81px 544px;
  }
  #line4 {
    width: 660px;
    height: 81px;
    margin: -81px 663px;
    z-index: -1;
  }
  #line5 {
    width: 583.4px;
    height: 74px;
    height: 31px;
    margin: 0px 1321px;
  }
  #line6 {
    width: 625px;
    height: 74px;
    height: 50px;
    margin: 0px 1279px;
    z-index: -2;
  }
  #june {
    margin: -79px 8px 5px 47%;
  }
  #conLogout-style {
    width: 134px;
    margin-top: -70px;
    margin-right: -295px;
  }
  .dropdown-menu {
    margin: -35px -67px 0 112%;
  }
}
@media screen and (min-width:809px) and (max-width:810px) {
  #line5 {
    width: 221px;
    height: 74px;
    height: 31px;
    margin: 0px 572px;
  }
  #line6 {
    width: 267px;
    height: 74px;
    height: 50px;
    margin: 0px 526px;
    z-index: -2;
  }
}
@media screen and (min-width:1545px) and (max-width:1650px) {
  #line5 {
    width: 766px;
    height: 31px;
    margin: 0px 818px;
    -moz-transform: skew(0deg);
  }
  #line6 {
    width: 808px;
    height: 50px;
    margin: 0px 776px;
    z-index: -2;
    -moz-transform: skew(0deg);
  }
  #line4 {
    width: 563px;
    height: 81px;
    margin: -81px 407px;
    transform: skew(-43deg);
    z-index: -1;
  }
  #conLogout-style {
    width: 134px;
    z-index: 100;
    margin-top: -70px;
    margin-right: -174px;
  }
  .dropdown-menu {
    margin: -35px -67px 0 101.4%;
  }
}
@media screen and (min-width:1540px) and (max-width:1550px) {
  #line5 {
    width: 711px;
    height: 31px;
    margin: 0px 818px;
    -moz-transform: skew(0deg);
  }
  #line6 {
    width: 753px;
    height: 50px;
    margin: 0px 776px;
    -moz-transform: skew(0deg);
  }
}
@media screen and (min-width:401px) and (max-width:500px) {
  .navbar-inverse {
    background: -webkit-linear-gradient( #F2F4F8, #FDFEFE);
    background: -moz-linear-gradient(#F2F4F8, #FDFEFE);
    border-color: #eee;
    height: 62.5px!important;
    margin-top: 0px;
    width: 100%;
    background-color: !important;
    -webkit-transition: 0.2s linear all;
    -moz-transition: 0.2s linear all;
    -o-transition: 0.2s linear all;
    transition: 0.2s linear all;
    z-index: -555;
  }
  #img-style {
    width: 73px;
    height: 72px;
    margin: 10px 20px;
    background-image: url("../img/360.png");
    background-repeat: repeat-y;
    background-size: 100% 100%;
    background-color: white;
  }
  #linev2 {
    width: 18px;
    height: 80px;
    margin: -80px 112px;
    background: #F4707B;
    transform: skew(-43deg);
  }
  #linev3 {
    width: 34px;
    height: 80px;
    margin: -79px 130px;
    background: #EC1223;
    transform: skew(-43deg);
  }
  #linev4 {
    width: 198px;
    height: 81px;
    margin: -81px 164px;
    background: #B4141C;
    transform: skew(-43deg);
    z-index: -1;
  }
  #line1236 {
    width: 0px;
    height: 0;
    border-bottom: 81px solid #B4141C;
    border-left: 77px solid transparent;
    margin: 0px 322px;
    z-index: -2;
  }
  #june {
    margin: -64px 8px 5px 27%;
    text-align: center;
    width: 170px;
    z-index: 10000000;
    float: left;
    color: white;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
  }
  #conLogout-style {
    position: relative;
    width: 134px;
    z-index: 100;
    float: right;
    margin-top: -68px;
    margin-right: -5px;
    background-color: white;
  }
  .dropdown-menu {
    margin: -33px -67px 0 58.4%;
  }
}
@media screen and (min-width:411px) and (max-width:420px) {
  .navbar-inverse {
    height: 80.5px!important;
  }
  #img-style {
    width: 73px;
    height: 72px;
    margin: 3px 20px;
    background-image: url("../img/360.png");
  }
  #linev4 {
    width: 208px;
  }
  #line1236 {
    border-bottom: 81px solid #B4141C;
    border-left: 78px solid transparent;
    margin: 0px 332px;
    z-index: -2;
  }
  #june {
    margin: -74px 8px 5px 27%;
  }
  .dropdown-menu {
    margin: -44px -67px 0 59.4%;
  }
  #conLogout-style {
    margin-top: -78px;
  }
}
@media screen and (min-width:435px) and (max-width:440px) {
  .navbar-inverse {
    height: 70.5px!important;
  }
  #img-style {
    width: 73px;
    height: 57px;
    margin: 10px 20px;
    background-image: url("../img/360.png");
  }
  #linev4 {
    width: 231px !important;
    height: 81px;
    margin: -81px 164px;
  }
  #line1236 {
    border-left: 77px solid transparent !important;
    margin: 0px 356px;
    z-index: -2;
  }
}

/*Add or Book event css */

.elipseTextCls {
  /*width: 10%;*/
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ellipsis {
  position: relative;
}
.ellipsis span {
  position: absolute;
  left: 0;
  right: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*table styles start*/

@media only screen and (max-width: 800px) {
  /* Force table to not be like tables anymore */
  #hideAndShowDiv table, #hideAndShowDiv thead, #hideAndShowDiv tbody, #hideAndShowDiv th, #hideAndShowDiv td, #hideAndShowDiv tr {
    display: block;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  #hideAndShowDiv thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  #hideAndShowDiv tr {
    border: 1px solid #ccc;
  }
  #hideAndShowDiv td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 30%;
    /*padding-right: 50%;*/
    white-space: normal;
    text-align: left;
  }
  #hideAndShowDiv span {
    position: relative;
  }
  #hideAndShowDiv td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }
  /*
	Label the data
	*/
  #hideAndShowDiv td:before {
    content: attr(data-title);
  }
}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
  padding: 14px;
  background-color: white;
  width: 10%;
}

/*Add event css*/

.selectDropdownCls {
  padding-left: 0px;
}
.addEventModalFooter {
  padding-right: 25%;
}
.conf-space {
  margin-top: 6px;
}
.form-space {
  margin-top: 6px;
}
.date-space {
  margin-top: 6px;
}
#eventClose {
  height: 38px;
  width: 13%;
  float: left;
  margin-left: 521px;
}
.header-style {
  padding: 21px;
  border-bottom: 3px solid #e5e5e5;
}
.footer-style {
  padding: 15px;
  text-align: right;
  border-top: 3px solid #e5e5e5;
}
#confTitle {
  width: 105%;
}
#confTitle1 {
  padding: 6px 4px;
  width: 99.9%;
  background-color: #9BBEF6;
  color: white;
}
#event-name {
  text-align: center;
  color: #98a0a6;
  font-size: 25px;
}
.model-size {
  width: 131%;
  height: 103%;
}
.model-body {
  margin: 24px;
}
#conSelect {
  padding: 6px 0px;
  width: 105px;
  margin: 0px 0px;
}
#conSelect1 {
  padding: 6px 0px;
  width: 105px;
  margin: -33px 124.5px;
}
#conSelect2 {
  padding: 6px 0px;
  width: 105px;
  margin: 0px 248px;
}
#confTimeslot {
  /*width:10px;
padding: 6px 0px;
margin: 0px 0px;*/
}
#confTimeslot1 {
  /*width: 10px;
padding: 6px 0px;
margin: -34px 65px;*/
}
#confTimeslot2 {
  /*width: 10px;
padding: 6px 0px;
margin: -33px 130px;*/
}
#confTimeslot3 {
  /*width:10px;
  padding: 6px 0px;
  margin: -34px 195px;*/
}
#conf-From {
  text-align: center;
  padding: 6px 0px;
  width: 80px;
  margin: 0px 0px;
}
#conf-From1 {
  text-align: center;

  padding: 6px 0px;
  width: 80px;
  margin: -34px 90px;
}
#conf-To {
  text-align: center;

  padding: 6px 0px;
  width: 80px;
  margin: 0px 0px;
}
#conf-To1 {
  text-align: center;

  padding: 6px 0px;
  width: 80px;
  margin: -34px 89px;
}
.conf-proj {
  width: 110%;
  margin: 0px -16px;
  overflow-x: auto;
  max-height: 34px;
}
#conNopeople {
  width: 113%;
  margin: 0px -2px;
}
#conAvail {
  /*width: 15%;
  margin: 0px 0px;*/
}
#conAvail1 {
  /*width: 15%;
  margin: -34px 89px;*/
}
#conAvail2 {
  /*width: 15%;
  margin: -33px 177px;*/
}
#conAvail3 {
  /*width: 15%;
  margin: -34px 266px;*/
}
#conAvail4 {
  /*width: 15%;
  margin: -30px 354px;*/
}
#conAvail5 {
  /*width: 15%;
  margin: -34px 442px;*/
}
.conBtnschedule {
  font-size: 17.6px;
  width: 100px;
  margin-right: 24px;
  float: right;
  height: 38px;
  outline: none;
  background-color: #4385F5;
  color: white;
  border: 1px solid;
  border-radius: 6px;
}
.modal-size {
  position: relative;
  padding: 16px 15px 45px;
  background-color: #F5F9FC;
}
.conEventTitle {
  color: #98a0a6;
  font-size: 15.6px;
}
.conEventType {
  color: #98a0a6;
  font-size: 15.6px;
}
.conDate {
  color: #98a0a6;
  font-size: 15.6px;
}
.conTimeSlot {
  color: #98a0a6;
  font-size: 15.6px;
}
.conForm {
  color: #98a0a6;
  font-size: 15.6px;
}
.conTo {
  color: #98a0a6;
  font-size: 15.6px;
}
.conAmenities {
  color: #98a0a6;
  font-size: 15.6px;
}
.conNoOfPeo {
  color: #98a0a6;
  font-size: 15.6px;
}
.conConAva {
  color: #98a0a6;
  font-size: 15.6px;
}
@media screen and (min-width:300px) and (max-width:400px) {
  .model-size {
    width: 100%;
    height: 100%;
  }
  .model-body {
    padding: 0%;
    margin-top: 0px;
  }
  #conSelect {
    width: 30%;
  }
  #conSelect1 {
    width: 30%;
    margin: -34px 103.5px;
  }
  #conSelect2 {
    width: 30%;
    margin: 0px 212px;
  }
  #confTimeslot {
    width: 70px;
  }
  #confTimeslot1 {
    width: 70px;
    margin: -34px 77px;
  }
  #confTimeslot2 {
    width: 70px;
    margin: 0px 154px;
  }
  #confTimeslot3 {
    width: 70px;
    margin: -34px 232px;
  }
  .form-top {
    margin-top: 43px;
  }
  #conf-From {
    width: 40%;
    margin: 0px 0px;
  }
  #conf-From1 {
    width: 40%;
    float: right;
    margin-right: 0px;
  }
  #conf-To1 {
    width: 40%;
    float: right;
    margin-right: 0px;
  }
  #conf-To {
    width: 40%;
    margin: 0px 0px;
  }
  .conf-proj {
    width: 111%;
  }
  #conAvail {
    width: 85px;
    margin: 0px 0px;
  }
  #conAvail1 {
    width: 85px;
    float: left;
    margin-left: 111px;
  }
  #conAvail2 {
    width: 85px;
    float: right;
    margin-right: 0px;
  }
  #conAvail3 {
    width: 85px;
    margin: 5px 0px;
  }
  #conAvail4 {
    width: 85px;
    float: left;
    margin-left: 111px;
    margin-top: -39px;
  }
  #conAvail5 {
    width: 85px;
    float: right;
    margin-right: 0px;
  }
  #conNopeople {
    width: 100%;
    margin: 0px 0px;
  }
  #confTitle1 {
    padding: 6px 0px;
    width: 100%;
  }
  #confTitle {
    width: 100%;
  }
  #eventClose {
    height: 38px;
    width: 85px;
    float: left;
    margin-left: 93px;
  }
  .conBtnschedule {
    margin: 0px;
  }
}
@media screen and (min-width:320px) and (max-width:340px) {
  #conSelect2 {
    margin: 0px 189px;
  }
  #conSelect1 {
    margin: -34px 91.5px;
  }
  #confTimeslot {
    width: 60px;
  }
  #confTimeslot1 {
    width: 60px;
    margin: -34px 68px;
  }
  #confTimeslot2 {
    width: 60px;
    margin: 0px 138px;
  }
  #confTimeslot3 {
    width: 60px;
    margin: -34px 211px;
  }
  #conAvail4 {
    margin-left: 94px;
  }
  #conAvail1 {
    margin-left: 94px;
  }
  #conAvail5 {
    margin-top: -39px;
  }
  #eventClose {
    margin-left: 74px;
  }
}

/*event style end*/

@media screen and (min-width: 649px) and (max-width:659px) {
  .model-size {
    width: 100%;
    height: 100%;
  }
  .model-body {
    padding: 0%;
    margin-top: 0px;
  }
  #conSelect {
    width: 30%;
  }
  #conSelect1 {
    width: 30%;
    margin: -34px 204.5px;
  }
  #conSelect2 {
    width: 30%;
    margin: 0px 409px;
  }
  #confTimeslot {
    width: 100px;
  }
  #confTimeslot1 {
    width: 100px;
    margin: -34px 157px;
  }
  #confTimeslot2 {
    width: 100px;
    margin: 0px 315px;
  }
  #confTimeslot3 {
    width: 100px;
    margin: -34px 483px;
  }
  .form-top {
    margin-top: 43px;
  }
  #conf-From {
    width: 40%;
    margin: 0px 0px;
  }
  #conf-From1 {
    width: 40%;
    float: right;
    margin-right: 0px;
  }
  #conf-To1 {
    width: 40%;
    float: right;
    margin-right: 0px;
  }
  #conf-To {
    width: 40%;
    margin: 0px 0px;
  }
  .conf-proj {
    width: 106%;
  }
  #conAvail {
    width: 150px;
    margin: 0px 0px;
  }
  #conAvail1 {
    width: 150px;
    float: left;
    margin-left: 222px;
  }
  #conAvail2 {
    width: 150px;
    float: right;
    margin-right: 0px;
  }
  #conAvail3 {
    width: 150px;
    margin: 5px 0px;
  }
  #conAvail4 {
    width: 150px;
    float: left;
    margin-left: 221px;
    margin-top: -39px;
  }
  #conAvail5 {
    width: 150px;
    float: right;
    margin: -39px 0px;
  }
  #conNopeople {
    width: 100%;
    margin: 0px 0px;
  }
  #confTitle1 {
    padding: 6px 0px;
    width: 100%;
  }
  #confTitle {
    width: 100%;
  }
  #eventClose {
    margin-left: 375px;
  }
  .conBtnschedule {
    margin: 0px;
  }
}
@media screen and (min-width:800px) and (max-width:809px) {
  #conSelect {
    width: 30%;
  }
  #conSelect1 {
    width: 30%;
    margin: -34px 180.5px;
  }
  #conSelect2 {
    width: 30%;
    margin: 0px 360px;
    ;
  }
  #confTimeslot {
    width: 100px;
  }
  #confTimeslot1 {
    width: 100px;
    margin: -34px 134px;
  }
  #confTimeslot2 {
    width: 100px;
    margin: 0px 272px;
  }
  #confTimeslot3 {
    width: 100px;
    margin: -34px 415px;
  }
  .form-top {
    margin-top: 43px;
  }
  #conf-From {
    width: 40%;
    margin: 0px 0px;
  }
  #conf-From1 {
    width: 40%;
    float: right;
    margin-right: 0px;
  }
  #conf-To1 {
    width: 40%;
    float: right;
    margin-right: 0px;
  }
  #conf-To {
    width: 40%;
    margin: 0px 0px;
  }
  .conf-proj {
    width: 106%;
  }
  #conAvail {
    width: 150px;
    margin: 0px 0px;
  }
  #conAvail1 {
    width: 150px;
    float: left;
    margin-left: 183px;
  }
  #conAvail2 {
    width: 150px;
    float: right;
    margin-right: 0px;
  }
  #conAvail3 {
    width: 150px;
    margin: 5px 0px;
  }
  #conAvail4 {
    width: 150px;
    float: left;
    margin-left: 183px;
    margin-top: -39px;
  }
  #conAvail5 {
    width: 150px;
    float: right;
    margin: -39px 0px;
  }
  #conNopeople {
    width: 100%;
    margin: 0px 0px;
  }
  #confTitle1 {
    padding: 6px 0px;
    width: 100%;
  }
  #confTitle {
    width: 100%;
  }
  #eventClose {
    margin-left: 375px;
  }
  .conBtnschedule {
    margin: 0px;
  }
}
@media screen and (min-width:810px) and (max-width:820px) {
  #conSelect {
    width: 30%;
  }
  #conSelect1 {
    width: 30%;
    margin: -34px 180.5px;
  }
  #conSelect2 {
    width: 30%;
    margin: 0px 361px;
  }
  #confTimeslot {
    width: 100px;
  }
  #confTimeslot1 {
    width: 100px;
    margin: -34px 138px;
  }
  #confTimeslot2 {
    width: 100px;
    margin: 0px 274px;
  }
  #confTimeslot3 {
    width: 100px;
    margin: -34px 417px;
  }
  .form-top {
    margin-top: 43px;
  }
  #conf-From {
    width: 40%;
    margin: 0px 0px;
  }
  #conf-From1 {
    width: 40%;
    float: right;
    margin-right: 0px;
  }
  #conf-To1 {
    width: 40%;
    float: right;
    margin-right: 0px;
  }
  #conf-To {
    width: 40%;
    margin: 0px 0px;
  }
  .conf-proj {
    width: 106%;
  }
  #conAvail {
    width: 150px;
    margin: 0px 0px;
  }
  #conAvail1 {
    width: 150px;
    float: left;
    margin-left: 193px;
  }
  #conAvail2 {
    width: 150px;
    float: right;
    margin-right: 0px;
  }
  #conAvail3 {
    width: 150px;
    margin: 5px 0px;
  }
  #conAvail4 {
    width: 150px;
    float: left;
    margin-left: 193px;
    margin-top: -39px;
  }
  #conAvail5 {
    width: 150px;
    float: right;
    margin: -39px 0px;
  }
  #conNopeople {
    width: 100%;
    margin: 0px 0px;
  }
  #confTitle1 {
    padding: 6px 0px;
    width: 100%;
  }
  #confTitle {
    width: 100%;
  }
}
@media screen and (min-width:401px) and (max-width:499px) {
  .model-size {
    width: 100%;
    height: 100%;
  }
  .model-body {
    padding: 0%;
    margin-top: 0px;
  }
  #conSelect {
    width: 30%;
  }
  #conSelect1 {
    width: 30%;
    margin: -34px 103.5px;
  }
  #conSelect2 {
    width: 30%;
    margin: 0px 212px;
  }
  #confTimeslot {
    width: 70px;
  }
  #confTimeslot1 {
    width: 70px;
    margin: -34px 77px;
  }
  #confTimeslot2 {
    width: 70px;
    margin: 0px 154px;
  }
  #confTimeslot3 {
    width: 70px;
    margin: -34px 232px;
  }
  .form-top {
    margin-top: 43px;
  }
  #conf-From {
    width: 40%;
    margin: 0px 0px;
  }
  #conf-From1 {
    width: 40%;
    float: right;
    margin-right: 0px;
  }
  #conf-To1 {
    width: 40%;
    float: right;
    margin-right: 0px;
  }
  #conf-To {
    width: 40%;
    margin: 0px 0px;
  }
  .conf-proj {
    width: 111%;
  }
  #conAvail {
    width: 85px;
    margin: 0px 0px;
  }
  #conAvail1 {
    width: 85px;
    float: left;
    margin-left: 111px;
  }
  #conAvail2 {
    width: 85px;
    float: right;
    margin-right: 0px;
  }
  #conAvail3 {
    width: 85px;
    margin: 5px 0px;
  }
  #conAvail4 {
    width: 85px;
    float: left;
    margin-left: 111px;
    margin-top: -39px;
  }
  #conAvail5 {
    width: 85px;
    float: right;
    margin-right: 0px;
  }
  #conNopeople {
    width: 100%;
    margin: 0px 0px;
  }
  #confTitle1 {
    padding: 6px 0px;
    width: 100%;
  }
  #confTitle {
    width: 100%;
  }
  #eventClose {
    height: 38px;
    width: 85px;
    float: left;
    margin-left: 93px;
  }
  .conBtnschedule {
    margin: 0px;
  }
}
@media screen and (min-width:411px) and (max-width:420px) {
  #conSelect1 {
    margin: -34px 127.5px;
  }
  #conSelect2 {
    margin: 0px 253px;
  }
  #confTimeslot1 {
    margin: -34px 98px;
  }
  #confTimeslot2 {
    margin: 0px 199px;
  }
  #confTimeslot3 {
    margin: -34px 294px;
  }
  #conAvail4 {
    margin-left: 139px;
  }
  #conAvail1 {
    margin-left: 139px;
  }
  #eventClose {
    margin-left: 160px;
  }
  .conf-proj {
    width: 109%;
  }
}
@media screen and (min-width:435px) and (max-width:450px) {
  #conSelect1 {
    margin: -34px 135.5px;
  }
  #conSelect2 {
    margin: 0px 272px;
  }
  #confTimeslot1 {
    margin: -34px 100px;
  }
  #confTimeslot2 {
    margin: 0px 215px;
  }
  #confTimeslot3 {
    margin: -34px 316px;
  }
  #conAvail4 {
    margin-left: 148px;
  }
  #conAvail1 {
    margin-left: 147px;
  }
  .conf-proj {
    width: 108%;
  }
  #eventClose {
    margin-left: 180px;
  }
}
@media screen and (min-width:610px) and (max-width:620px) {
  #conSelect1 {
    margin: -34px 166.5px;
  }
  #conSelect2 {
    margin: 0px 338px;
  }
  #confTimeslot3 {
    margin: -34px 385px;
  }
  #confTimeslot2 {
    margin: 0px 258px;
  }
  #confTimeslot1 {
    margin: -34px 129px;
  }
  #conAvail4 {
    margin-left: 168px;
  }
  #conAvail1 {
    margin-left: 169px;
  }
  #eventClose {
    margin-left: 358px;
  }
}
@media screen and (min-width:768px) and (max-width:799px) {
  #conSelect {
    width: 30%;
  }
  #conSelect1 {
    width: 30%;
    margin: -34px 180.5px;
  }
  #conSelect2 {
    width: 30%;
    margin: 0px 361px;
  }
  #confTimeslot {
    width: 100px;
  }
  #confTimeslot1 {
    width: 100px;
    margin: -34px 138px;
  }
  #confTimeslot2 {
    width: 100px;
    margin: 0px 274px;
  }
  #confTimeslot3 {
    width: 100px;
    margin: -34px 417px;
  }
  .form-top {
    margin-top: 43px;
  }
  #conf-From {
    width: 40%;
    margin: 0px 0px;
  }
  #conf-From1 {
    width: 40%;
    float: right;
    margin-right: 0px;
  }
  #conf-To1 {
    width: 40%;
    float: right;
    margin-right: 0px;
  }
  #conf-To {
    width: 40%;
    margin: 0px 0px;
  }
  .conf-proj {
    width: 106%;
  }
  #conAvail {
    width: 150px;
    margin: 0px 0px;
  }
  #conAvail1 {
    width: 150px;
    float: left;
    margin-left: 193px;
  }
  #conAvail2 {
    width: 150px;
    float: right;
    margin-right: 0px;
  }
  #conAvail3 {
    width: 150px;
    margin: 5px 0px;
  }
  #conAvail4 {
    width: 150px;
    float: left;
    margin-left: 193px;
    margin-top: -39px;
  }
  #conAvail5 {
    width: 150px;
    float: right;
    margin: -39px 0px;
  }
  #conNopeople {
    width: 100%;
    margin: 0px 0px;
  }
  #confTitle1 {
    padding: 6px 0px;
    width: 100%;
  }
  #confTitle {
    width: 100%;
  }
}
@media screen and (min-width: 951px) and (max-width: 1000px) {
  #conSelect {
    width: 30%;
  }
  #conSelect1 {
    width: 30%;
    margin: -34px 180.5px;
  }
  #conSelect2 {
    width: 30%;
    margin: 0px 361px;
  }
  #confTimeslot {
    width: 100px;
  }
  #confTimeslot1 {
    width: 100px;
    margin: -34px 138px;
  }
  #confTimeslot2 {
    width: 100px;
    margin: 0px 274px;
  }
  #confTimeslot3 {
    width: 100px;
    margin: -34px 417px;
  }
  .form-top {
    margin-top: 43px;
  }
  #conf-From {
    width: 40%;
    margin: 0px 0px;
  }
  #conf-From1 {
    width: 40%;
    float: right;
    margin-right: 0px;
  }
  #conf-To1 {
    width: 40%;
    float: right;
    margin-right: 0px;
  }
  #conf-To {
    width: 40%;
    margin: 0px 0px;
  }
  .conf-proj {
    width: 106%;
  }
  #conAvail {
    width: 150px;
    margin: 0px 0px;
  }
  #conAvail1 {
    width: 150px;
    float: left;
    margin-left: 193px;
  }
  #conAvail2 {
    width: 150px;
    float: right;
    margin-right: 0px;
  }
  #conAvail3 {
    width: 150px;
    margin: 5px 0px;
  }
  #conAvail4 {
    width: 150px;
    float: left;
    margin-left: 193px;
    margin-top: -39px;
  }
  #conAvail5 {
    width: 150px;
    float: right;
    margin: -39px 0px;
  }
  #conNopeople {
    width: 100%;
    margin: 0px 0px;
  }
  #confTitle1 {
    padding: 6px 0px;
    width: 100%;
  }
  #confTitle {
    width: 100%;
  }
}
.checked {
  background-color: #9BBEF6 !important;
}
.btndefault-width {
  width: 16%;
}

/*Invite people css*/

.invitePeopleTextCls {
  text-align: center;
  opacity: .5 !important;
}
