<!doctype html>
<html ng-app="myApp">

<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <!-- <meta content="img/mobility.jpg" itemprop="image"> -->

  <title>Conference Room Booking</title>
  <link href="css/bootstrap-theme.css" rel="stylesheet" type="text/css">
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="css/app.css" rel="stylesheet" type="text/css">

  <link href="http://mbenford.github.io/ngTagsInput/css/ng-tags-input.min.css" rel="stylesheet" />

  <script crossorigin="anonymous" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
</head>

<body ng-controller="CalendarController">
  <!-- Directives -->
  <alert></alert>
  <confirm></confirm>
  <loginbox></loginbox>
  <login></login>
  <!-- Start of navbar -->
  <nav class="navbar navbar-inverse navbar-default" role="navigation">
    <div class=" ">
      <div class="navbar-header">
        <div class=" " data-target="#bs-example-navbar-collapse-1" data-toggle="collapse">
          <!-- <img src="assets/img/1.png" id="img-style" /> -->
          <div id="img-style"></div>
          <div id="linev3"></div>
          <div id="linev2"></div>
          <div id="linev4"></div>
          <div id="line1236"></div>

        </div>

      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse">

        <div id="line"></div>
        <div id="line1"></div>
        <div id="line2"></div>
        <div id="line3"></div>
        <div id="line4"></div>
        <div id="line5"></div>
        <div id="line6"></div>


      </div>

      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <h2 class="monthYearCls" id="monthyear" ng-bind="month_name+ ' ' + year" style="color:white"></h2>
  <div class="container">
    <div class="dropdown myDropdown" id="userDetilsDropdown" ng-if="User!=0">
      <button class="btn dropdown-toggle myDropdownBtnCls" data-toggle="dropdown" id="conLogout-style" type="button">
        <span class="glyphicon glyphicon-user userGlyphIconCls"></span>
        <span class="userNameCls" ng-bind="User | capitalize"></span>
        <span class="glyphicon glyphicon-chevron-down myDropDownIconCls"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a ng-click="logout()">logout</a>
        </li>
      </ul>
    </div>
  </div>
  <!--End of navbar  -->

  <div class="row">
    <div class="col-md-6">
      <!-- Add the event list div here -->
      <!-- This is for list display header  -->
      <div class="row monthDispDivCls" id="monthList">
        <div class="firstDivCls">
          <p class="monthTitleCls">
            <span id="todaysDate"></span>
            <span id="todaysDay"></span>
          </p>
        </div>
        <div class="secondDivCls"></div>
        <div class="thirdDivCls"></div>
        <div class="fourthDivCls"></div>
        <div class="fifthDivCls"></div>
        <div class="sixthDivCls"></div>
        <div class="seventhDivCls"></div>
        <img class="addEventIconCls" ng-click="addevent()" src="img/addEvent.png" id="addEventImg" ng-if="User!=0" ng-hide="hideEvent=='show'" >


      </div>
      <!--end of list disp header  -->

      <!-- Directive to display list of events -->
      <event-list></event-list>
    </div>

    <div class="col-md-6 displayCalenderDivCls">
      <section class="myContainer" id="calendar">
        <!-- This will create the week days -->
        <div class="weekDaysHeadingRow row">

          <section class="col-xs-2 first-col weeks" id="weeks-style">Sun</section>
          <section class="col-xs-2 weeks">Mon</section>
          <section class="col-xs-2 weeks">Tue</section>
          <section class="col-xs-2 weeks">Wed</section>
          <section class="col-xs-2 weeks">Thu</section>
          <section class="col-xs-2 weeks">Fri</section>
          <section class="col-xs-2 weeks" id="weeks-style">Sat</section>
        </div>
      </section>
      <section class="row commonRow" ng-repeat="row in rows track by $index">
        <!-- 'today':Check_today(row.value,$index,$parent.$index)  -->
        <!--data-target="#event"-->
        <section class="daysCls" ng-class="{ 'holiday': !showevent_icon(row.value[$index],$index),'weekdays':Check_today(row.value,$index,$parent.$index)}" ng-repeat="data in [].constructor(7) track by $index" ng-click="addevent_box(row.value,$index,$parent.$index)">
          <section ng-click="hideAndShowEvent($event,row.value[$index],$index);" id='myEvent'></section>
          <section class="eventClass" ng-class="click_addevent()>row.value[$index] ? 'cursor_ini':'cursor_point'">
            <section class="date_month">
              <span class="dateIndex" ng-bind="row.value[$index]"></span>
            </section>
            <span class="triSymbol" ng-show="Check_today(row.value,$index,$parent.$index)"></span>
          </section>
        </section>
      </section>
    </div>
  </div>

  <script src="js/angular.min.js" type="text/javascript"></script>
  <script src="js/angular-messages.js" type="text/javascript"></script>
  <script src="js/app.js" type="text/javascript"></script>
  <script src="calender/controller.js" type="text/javascript"></script>
  <script src="calender/directive.js" type="text/javascript"></script>
  <script src="calender/services.js" type="text/javascript"></script>
  <script src="login/logincntrl.js" type="text/javascript"></script>
  <script src="js/bootstrap.min.js" type="text/javascript"></script>
  <script>
    document.write('<base href="' + document.location + '" />');
  </script>

  <script src="https://code.angularjs.org/1.2.28/angular-resource.min.js"></script>
  <script src="http://mbenford.github.io/ngTagsInput/js/ng-tags-input.min.js"></script>
  <!-- Include Select2 CSS -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.css" />
  <!-- CSS to make Select2 fit in with Bootstrap 3.x -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2-bootstrap.min.css" />
  <!-- Include Select2 JS -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.js"></script>

  <!-- Add event Modal -->
  <div class="modal fade" id="myModalAddEvent" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content model-size">
        <div class="modal-header header-style">
          <!-- <h4 class="modal-title" id="event-name">Events Name</h4> -->
          <h4 class="modal-title" id="event-name">
            <span class="addEventHead" ng-if="!event.eventTitle">Add Event
            </span>
            <span class="addEventHead" ng-if="event.eventTitle">{{event.eventTitle | capitalize}}</span>
          </h4>
        </div>
        <div class="modal-body  modal-size">

          <div class="bs-example model-body">
            <form>
              <div class="row">

                <div class="col-xs-12 col-md-6">
                  <label class="conEventTitle">Event Title</label>
                  <input type="text" class="form-control" id="confTitle" ng-model="event.eventTitle">
                </div>
                <p class="errorToDisp" ng-show="alert_ms"> {{alert_ms}}</p>

                <div class="col-xs-12 col-md-6">
                  <label class="conEventType">Event Type</label>
                  <select class="form-control" id="confTitle1" ng-model="event.eventType">
                    <option value="" disabled selected>Choose Event Type</option>
                    <option value="Meeting">Meeting</option>
                    <option value="Presentation">Presentation</option>
                    <option value="Others">Others</option>
                  </select>
                </div>
              </div>



              <div class="row date-space">

                <div class="col-md-6">
                  <label class="conDate">Date</label>
                  </br>
                  <select class="form-control" id="conSelect">
                    <option value="" disabled selected>Date</option>
                  </select>
                  <select class="form-control" id="conSelect1">
                    <option value="" disabled selected>Month</option>
                  </select>
                  <select class="form-control" id="conSelect2">
                    <option value="" disabled selected>Year</option>
                  </select>
                </div>

                <div class="col-md-6">
                  <label class="conTimeSlot">Select Time Slot</label>
                  </br>
                  <label class="btn btn-default btnCls" ng-class="{checked: event.eventSlot == '15 min'}">
                    <input hidden type="radio" name="timeslaot" value="15 min" id="confTimeslot" ng-model="event.eventSlot" ng-click="calculateEventSlot(event.eventSlot,inp_event_time_from_hour,inp_event_time_from_minute)">15 min</label>
                  <label class="btn btn-default btnCls" ng-class="{checked: event.eventSlot == '30 min'}">
                    <input hidden type="radio" name="timeslaot" value="30 min" id="confTimeslot1" ng-model="event.eventSlot" ng-click="calculateEventSlot(event.eventSlot,inp_event_time_from_hour,inp_event_time_from_minute)">30 min</label>
                  <label class="btn btn-default btnCls" ng-class="{checked: event.eventSlot == '45 min'}">
                    <input hidden type="radio" name="timeslaot" value="45 min" id="confTimeslot2" ng-model="event.eventSlot" ng-click="calculateEventSlot(event.eventSlot,inp_event_time_from_hour,inp_event_time_from_minute)">45 min</label>
                  <label class="btn btn-default btnCls" ng-class="{checked: event.eventSlot == '60 min'}">
                    <input hidden type="radio" name="timeslaot" value="60 min" id="confTimeslot3" ng-model="event.eventSlot" ng-click="calculateEventSlot(event.eventSlot,inp_event_time_from_hour,inp_event_time_from_minute)">60 min</label>
                </div>

              </div>
              <div class="row form-space">
                <div class="col-md-3 form-top">
                  <label class="conForm">From</label>
                  </br>

                  <!-- <select class="form-control" id="conf-From" ng-model="inp_event_time_from_hour" ng-max="19" ng-keyUp="calculateEventSlot(event.eventSlot,inp_event_time_from_hour,inp_event_time_from_minute)" numbers-only="numbers-only">
                  </select>
                  <select class="form-control" id="conf-From1" ng-keyUp="calculateEventSlot(event.eventSlot,inp_event_time_from_hour,inp_event_time_from_minute)" ng-model="inp_event_time_from_minute" ng-max="59" numbers-only="numbers-only">
                  </select> -->
                  <input id="conf-From" class="time_input fromOne inputCls form-control" name="slotInput" type="text" name="testInput" ng-model="inp_event_time_from_hour" ng-max="19" ng-keyUp="calculateEventSlot(event.eventSlot,inp_event_time_from_hour,inp_event_time_from_minute)"
                  numbers-only="numbers-only">
                  <input id="conf-From1" class="time_input fromOne inputCls form-control" type="text" name="slotMinInput" ng-keyUp="calculateEventSlot(event.eventSlot,inp_event_time_from_hour,inp_event_time_from_minute)" ng-model="inp_event_time_from_minute" ng-max="59"
                  numbers-only="numbers-only">

                </div>

                <div class="col-md-3">
                  <label class="conTo">To</label>
                  </br>
                  <!-- <select class="form-control" id="conf-To" value="10" min="0" max="23" disabled ng-model="inp_event_time_to_hour">
                  </select>
                  <select class="form-control" id="conf-To1" value="0" min="0" max="45" disabled step="45" ng-model="inp_event_time_to_minute">
                  </select> -->
                  <input type="text" id="conf-To" class="time_input toOne inputCls form-control" value="10" min="0" max="23" disabled ng-model="inp_event_time_to_hour"></input>
                  <input type="text" id="conf-To1" class="time_input toTwo inputCls form-control" value="0" min="0" max="45" disabled step="45" ng-model="inp_event_time_to_minute"></input>
                </div>
                <!-- <center>
                  <div ng-if="inp_event_time_from_hour.length==0" style="color: red;">
                    max time you can book till 8 PM
                  </div>
                  <div ng-show="slotForm.slotInput.$error.abovemaximum" style="color: red;">
                    max time you can book till 8 PM
                  </div>
                  <div ng-show="TimeValidation!=''" style="color: red;">
                    {{TimeValidation}}
                  </div>
                </center> -->

                <div class="col-md-6">
                  <label class="conAmenities">Amenities</label>
                  </br>
                  <div class="col-md-12 selectDropdownCls">
                    <span class="form-group" id="select2Form">
                      <select name="Amenity" class="form-control conf-proj" multiple data-placeholder=" " ng-click="toggleSelection(aminity)" ng-selected="selection.indexOf(aminity) > -1" ng-model="aminity">
                        <option ng-repeat="aminity in amenities"  name="selectedamenities[]"  value="{{aminity}}">{{aminity}}</option>
                      </select>
                    </span>
                  </div>
                </div>
              </div>

              <div class="row conf-space">

                <div class="col-md-3">
                  <label class="conNoOfPeo">No.of People</label>
                  </br>
                  <input type="text" class="form-control" value="" id="conNopeople" ng-model="event.participants" numbers-only="numbers-only">
                </div>

                <div class="col-md-9">
                  <label class="conConAva">Conference Availability</label>
                  </br>
                  <label class="btn btn-default btndefault-width" ng-class="{checked: event.conferenceroom == 'Con1'}">
                    <input type="radio" hidden name="Conftimeslaot" value="Con1" id="conAvail" ng-model="event.conferenceroom">Con1</label>
                  <label class="btn btn-default btndefault-width" ng-class="{checked: event.conferenceroom == 'Con2'}">
                    <input type="radio" hidden name="Conftimeslaot" value="Con2" id="conAvail1" ng-model="event.conferenceroom">Con2</label>
                  <label class="btn btn-default btndefault-width" ng-class="{checked: event.conferenceroom == 'Con3'}">
                    <input type="radio" hidden name="Conftimeslaot" value="Con3" id="conAvail2" ng-model="event.conferenceroom">Con3</label>
                  <label class="btn btn-default btndefault-width" ng-class="{checked: event.conferenceroom == 'Con4'}">
                    <input type="radio" hidden name="Conftimeslaot" value="Con4" id="conAvail3" ng-model="event.conferenceroom">Con4</label>
                  <label class="btn btn-default btndefault-width" ng-class="{checked: event.conferenceroom == 'Con5'}">
                    <input type="radio" hidden name="Conftimeslaot" value="Con5" id="conAvail4" ng-model="event.conferenceroom">Con5</label>
                  <label class="btn btn-default btndefault-width" ng-class="{checked: event.conferenceroom == 'Con6'}">
                    <input type="radio" hidden name="Conftimeslaot" value="Con4" id="conAvail5" ng-model="event.conferenceroom">Con6</label>
                </div>
              </div>
              <div class="row">
                <h2 class="invitePeopleTextCls">Invite People</h2>
                <!-- <input class="form-control" type="text" placeholder="Add Name"> -->
                <tags-input ng-model="tags" placeholder="Add Name">
                  <auto-complete source="loadTags($query)"></auto-complete>
                </tags-input>
              </div>
            </form>
            <p class="errorToDisp" ng-if="failureAlert_ms">{{failureAlert_ms}}</p>
          </div>
        </div>
        <div class="modal-footer confAppInvitePeopleFooterCls">
          <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
          <button class="btn btn-default confAppInvitePeopleSendEmailBtnCls" type="submit" id="addevent_but" ng-click="saveEvent(eventdate)" ng-disabled="!event.eventTitle||!event.eventType||!event.eventSlot||!event.eventSlot||!event.participants">Schedule</button>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  $(document).ready(function() {
    $('#select2Form').find('[name="Amenity"]').select2()
  });
</script>

</html>
