<!-- <div aria-labelledby='myModalLabel' class='modal fade' data-backdrop='static' id='myModal1' role='dialog' tabindex='-1'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button aria-label='Close' class='close' data-dismiss='modal' type='button'>
          <span aria-hidden='true'>&times;</span>
        </button>
        <h4 class='modal-title ' id='myModalLabel' ng-bind="label"></h4>
      </div>
      <div class='modal-body' id='alert_body'>
        <div class='container'>
          <div class="loginDiv" ng-show="type === 'login'">
            <form class='form-signin loginFormCls' name="userForm" novalidate>
              <div ng-class="{ 'has-error': userForm.email.$touched && submitted && userForm.email.$invalid }">
                <label class='sr-only' for='inputEmail'>Email address</label>
                <input class="form-control" id='inputEmail' name="email" ng-blur="validate(user)" ng-keyup="validate(user)" ng-model="user" placeholder='Email address' required type="text">
                {{sucess}}
                <div class="help-block" ng-if="userForm.email.$touched" ng-messages="userForm.email.$error" style="color:red !important">
                  <p ng-message="required">email is required.</p>
                </div>
              </div>
              <div>
                <label class='sr-only' for='inputPassword'>Password</label>
                <input class="form-control" id='inputPassword' name="password" ng-model="password" placeholder='Password' required type="password">
                <div class="help-block" ng-if="userForm.password.$touched" ng-messages="userForm.password.$error" style="color:red !important">
                  <p ng-message="required">password is required.</p>
                </div>
              </div>
              <div>
                <div class="alert alert-warning" ng-show="login_alert_ms">
                  <a aria-label="close" class="close" data-dismiss="alert" href="#">&times;</a>
                  <strong>
                    {{login_alert_ms}}</strong>
                </div>

                <button class='btn btn-lg btn-primary btn-block signInBtnCls' id='user_login' ng-click="login()" ng-disabled="userForm.$invalid || sucess!='' " type='submit'>Sign In</button>
                <button class='btn btn-lg btn-primary btn-block registerBtnCls' id='user_login' ng-click="setRegister()">Register</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Login Modal -->
<div class="modal fade confAppLoginModalCls" aria-labelledby='myModalLabel' data-backdrop='static' id='myModal1' role='dialog' tabindex='-1'>
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" type="button">&times;</button>
        <h4 class="modal-title confAppLoginTitleCls">Sign In</h4>
      </div>
      <div class="modal-body confAppLoginBodyCls">
        <form role="form" name="userForm" novalidate>
          <div class="form-group" ng-class="{ 'has-error': userForm.email.$touched && submitted && userForm.email.$invalid }">
            <p class="labelCls" for="inputEmail">Email</p>
            <input class="form-control" id='inputEmail' name="email" ng-blur="validate(user)" ng-keyup="validate(user)" ng-model="user" required type="text">
            {{sucess}}
            <div class="help-block" ng-if="userForm.email.$touched" ng-messages="userForm.email.$error" style="color:red !important">
              <p ng-message="required">email is required.</p>
            </div>
          </div>
          <div class="form-group">
            <p class="labelCls" for="inputPassword">Password</p>
            <input class="form-control" id='inputPassword' name="password" ng-model="password" required type="password">
            <div class="help-block" ng-if="userForm.password.$touched" ng-messages="userForm.password.$error" style="color:red !important">
              <p ng-message="required">password is required.</p>
            </div>
          </div>
          <div class="alert alert-warning" ng-show="login_alert_ms">
            <a aria-label="close" class="close" data-dismiss="alert" href="#">&times;</a>
            <strong>
              {{login_alert_ms}}</strong>
          </div>
          <div class="">
            <a class="forgetPwdCls col-md-6" href="#">Forgot Password?</a>
            <span class="col-md-6 btnSpan"><button class="btn btn-default confAppLoginBtnCls" id='user_login' ng-click="login()" ng-disabled="userForm.$invalid || sucess!='' " type='submit'>
              Login</button></span>
          </div>

        </form>
      </div>
      <!-- <div class="modal-footer confAppLoginFooterCls">
        <p class="loginPtagFooterCls">
          <a class="notaMemberCls">
            Not a memeber?</a>
          <a class="createAccCls" href="#">Create Account</a>
        </p>
      </div> -->
    </div>

  </div>
</div>
