<!-- template -->
<!-- <div  class="col-md-12" id="hideAndShowDiv" ng-hide="hideEvent=='show'">
    <span id="cal-slide-tick"></span>
    <div id="dayEvents" class="singleDayEventsCls">
      <section class="eachConfEvent">

        <div class="row myTableRow">

          <center ng-if="AllEvents.item.length==0">
            <h1>No Events Found</h1>
          </center>
          <div class="table-responsive myresponsiveTable">
          <table ng-if="AllEvents.item.length!=0" class="table">
            <tr>
              <th class="tableHead">
                By
              </th>
              <th class="tableHead">
                From
              </th>
              <th class="tableHead">
                To
              </th>
              <th class="tableHead">
                EventName
              </th>
              <th class="tableHead">
                Conference
              </th>
              <th>
              </th>
            </tr>
            <tr ng-repeat="x in AllEvents.item" ng-include="getTemplate(x)">

            </tr>

          </table>
        </div>
          <script type="text/ng-template" id="edit">

                <td class="tableColumn ">{{AllEvents.selected.userName}}</td>
                <td class="tableColumn editText"><input type="text" ng-model="AllEvents.selected.from" /></td>
                <td class="tableColumn editText"><input type="text" ng-model="AllEvents.selected.to" /></td>
                        <td class="tableColumn editText"><input type="text" ng-model="AllEvents.selected.eventName" /></td>
                                <td class="tableColumn editText"><input type="text" ng-model="AllEvents.selected.conferenceRoomNo" /></td>
                <td >
                    <button class="tableColumn editText" type="submit" ng-click="updateEvent($index)">Save</button>
                    <button class="tableColumn editText" ng-click="reset()">Cancel</button>
                </td>

            </script>
            <script type="text/ng-template" _id="display">
            <td class="tableColumn">{{ x.userName }}</td>
            <td class="tableColumn">{{ x.from | date:'hh:mm a'}}</td>
            <td class="tableColumn">{{ x.to | date:'hh:mm a'}}</td>
            <td class="tableColumn">{{ x.eventName }}</td>
            <td class="tableColumn">{{ x.conferenceRoomNo }}</td>

            <td>
              <span ng-if="userid==x.userId" class="glyphicon glyphicon glyphicon-pencil editEventCls" ng-click="editEvent(x)"></span>
              <span ng-if="userid==x.userId" class="glyphicon glyphicon-remove-sign removeCls"  ng-click="cancel_event(x._id)" data-toggle="modal" data-target="#myModal2"></span>
            </td>

              </script>
        </div>


      </section>
    </div>
  </div> -->
<div class="tableDiv collapse" id="hideAndShowDiv" ng-hide="hideEvent=='show'">
  <table class="table table-striped table-condensed cf tableCls col-xs-6" ng-if="AllEvents.item.length!=0">
    <thead class="cf">
      <tr>
        <th class="numeric">By</th>
        <th class="numeric">From</th>
        <th class="numeric">To</th>
        <th class="numeric" style="padding-left:0px;">Eventname</th>
        <th class="numeric" style="padding-left:0px;">Conference</th>
        <th class="numeric"></th>
        <th class="numeric"></th>
      </tr>

    </thead>
    <tbody>
      <tr ng-repeat="x in AllEvents.item">
        <td class="numeric ellipsis" data-title="By"><span>{{ x.userName }}</span></td>
        <td class="numeric" data-title="From">{{ x.from | date:'hh:mm a'}}</td>
        <td class="numeric" data-title="To">{{ x.to | date:'hh:mm a'}}</td>
        <td class="numeric ellipsis" data-title="Eventname"><span>{{ x.eventName }}</span></td>
        <td class="numeric ellipsis" data-title="Conference"><span>{{ x.confRoomName}}</span></td>
        <td class="numeric" data-title=" ">
          <!-- <a href="#">
            <span class="glyphicon glyphicon-pencil "></span>
          </a> -->
        </td>
        <td class="numeric" data-title=" ">
          <!-- <a href="#">
            <span class="glyphicon glyphicon-trash "></span>
          </a> -->
        </td>
      </tr>
      <!-- <script id="edit" type="text/ng-template">

        <td class="tableColumn ">{{AllEvents.selected.userName}}</td>
        <td class="tableColumn editText"><input ng-model="AllEvents.selected.from" type="text"/></td>
        <td class="tableColumn editText"><input ng-model="AllEvents.selected.to" type="text"/></td>
        <td class="tableColumn editText"><input ng-model="AllEvents.selected.eventName" type="text"/></td>
        <td class="tableColumn editText"><input ng-model="AllEvents.selected.conferenceRoomNo" type="text"/></td>
        <td >
          <button class="tableColumn editText" ng-click="updateEvent($index)" type="submit">Save</button>
          <button class="tableColumn editText" ng-click="reset()">Cancel</button>
        </td>

      </script> -->
      <!-- <script _id="display" type="text/ng-template">
        <td class="numeric ellipsis" data-title="By">{{ x.userName }}</td>
        <td class="numeric" data-title="From">{{ x.from | date:'hh:mm a'}}</td>
        <td class="numeric" data-title="To">{{ x.to | date:'hh:mm a'}}</td>
        <td class="numeric ellipsis" data-title="Eventname">{{ x.eventName }}</td>
        <td class="numeric ellipsis" data-title="Conference">{{ x.conferenceRoomNo }}</td>
        <td class="numeric" data-title=" ">
          <a href="#">
            <span class="glyphicon glyphicon-pencil "></span>
          </a>
        </td>
        <td class="numeric" data-title=" ">
          <a href="#">
            <span class="glyphicon glyphicon-trash "></span>
          </a>
        </td>
      </script> -->
    </tbody>
  </table>

</div>
